/.DS_Store
/CheckOnly4e
/Images_tmp_50797
/LoopPlots.C~
/LoopPlotsAllM.C
/LoopPlotsAllM.C~
/LoopPlots_C.d
/LoopPlots_C.so
/LoopPlots_C_ACLiC_dict_rdict.pcm
/MyClass.C~
/MyClassAllM.C
/_.pdf
/_.png
/canvas.ps
/png